.moon {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.night{
  background-color: #000;
  overflow: hidden;
  width: 100%;
  height: 100%;

  -webkit-animation: night 5s forwards;
  -moz-animation: night 5s forwards;
  -o-animation: night 5s forwards;
  animation: night 5s forwards;
}

.moon:after {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 200px;
  left: 70%;
  top: 120%;
  box-shadow: 0 0 50px 5px white, 0 0 130px 10px white, 0 0 12px rgba(0, 0, 0, 0.2) inset, 0 0 30px white inset;
  background: url("../images/moon.png") no-repeat center black;
  background-size: 402px;
  animation: moonrise 5s forwards;
  -moz-animation: moonrise 5s forwards;
  -o-animation: moonrise 5s forwards;
  -webkit-animation: moonrise 5s forwards;
}

@keyframes moonrise {
  100% {
    right: 5%;
    top: 5%;
  }
}
@-webkit-keyframes moonrise {
 100% {
    left: 5%;
    top: 5%;
  }
}
@-moz-keyframes moonrise {
 100% {
    left: 5%;
    top: 5%;
  } 
}
@-ms-keyframes moonrise {
 100% {
    left: 5%;
    top: 5%;
  } 
}

@keyframes night {
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes night {
 100% {
    opacity: 0;
  }
}
@-moz-keyframes night {
 100% {
    opacity: 0;
  } 
}
@-ms-keyframes night {
 100% {
    opacity: 0;
  } 
}